<title><%= t('title.home')%></title>
<div class="container">
  <div class="home" id="home">
    <!-- <img src="" style="width:100%; height:500px;"> -->
    <div style="width:100%; height:500px;" >

    </div>
    <div class="content">
      <h1><%= t('org_name')%></h1>
      <p>จำหน่ายผลิตภัณฑ์น้ำยาทำความสะอาด อุปกรณ์ทำความสะอาดและเครื่องมือเครื่องใช้ในการทำความสะอาด</p>
    </div>
  </div>
  <div class="home" id="product" style="height: 500px;">
    <div class="hero-image">
      <div class="hero-text">
        <h1 style="font-size:50px"><%= t('title.product')%></h1>
        <a href="/products"><%= t('button.more')%></a>
      </div>
    </div>
  </div>
  <div class="home" id="contact" style="height: 500px;">
    <div class="container">
        <div style="text-align:center;margin-top: 3%;">
          <h2><%= t('title.contact')%></h2>
        </div>
        <div class="row">
          <div class="column">
          <a href="https://www.google.co.th/maps/place/%E0%B8%9A%E0%B8%A3%E0%B8%B4%E0%B8%A9%E0%B8%B1%E0%B8%97+%E0%B8%99%E0%B8%AD%E0%B8%A3%E0%B9%8C%E0%B8%97%E0%B8%AD%E0%B8%B5%E0%B8%AA%E0%B9%80%E0%B8%97%E0%B8%B4%E0%B8%A3%E0%B9%8C%E0%B8%99+%E0%B8%8B%E0%B8%B1%E0%B8%9E%E0%B8%9E%E0%B8%A5%E0%B8%B2%E0%B8%A2%E0%B8%AA%E0%B9%8C+%E0%B8%88%E0%B8%B3%E0%B8%81%E0%B8%B1%E0%B8%94/@16.4031157,102.8359608,17z/data=!3m1!4b1!4m5!3m4!1s0x31228990cc99767d:0x2974037151985d7f!8m2!3d16.4031106!4d102.8381495?hl=th" target="_blank" ><%= image_tag("map.PNG", style: "width: 100%;  height: 400px;") %></a>
          </div>
          <div class="column" style="margin-top: 8%;">
            <div class="list">
              <div class="row">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/1000px-F_icon.svg.png" style="width: auto; height: 50px;">
                <p class="contact">บริษัท-นอร์ทอีสเทิร์น-ซัพพลายส์-จำกัด</p>
              </div>
            </div>
            <div class="list">
              <div class="row">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/LINE_logo.svg" style="width: auto; height: 50px;">
                <p class="contact">บริษัท-นอร์ทอีสเทิร์น-ซัพพลายส์-จำกัด</p>
              </div>
            </div>
            <div class="list">
              <div class="row">
                <img src="http://pngimg.com/uploads/email/email_PNG49.png" style="width: auto; height: 50px;">
                <p class="contact">email@mail.com</p>
              </div>
            </div>
            <div class="list">
              <div class="row">
                <img src="http://sisinterstudy.com/wp-content/uploads/2014/11/purple-phone-logo1-hi.png" style="width: auto; height: 50px;">
                <p class="contact">000000000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
