<title><%= t('title.home')%></title>
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://www.qbcsgroup.co.uk/wp-content/uploads/2016/04/commercial-cleaning1.png" style="width: 100%; height:600px;">
      <div class="carousel-caption" style="background-color: #0000008a;">
        <h1><%= t('org_name')%></h1>
        <p><%= t('content')%></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://cleanmyspace.com/wp-content/uploads/2017/08/how-to-hire-a-cleaning-service.jpg" style="width: 100%; height:600px;">
      <div class="carousel-caption" style="background-color: #0000008a;">
        <h1><%= t('org_name')%></h1>
        <p><%= t('content')%></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://cdn2.expertreviews.co.uk/sites/expertreviews/files/2016/05/best_vacuum_cleaners.jpg" style="width: 100%; height:600px;">
      <div class="carousel-caption" style="background-color: #0000008a;">
        <h1><%= t('org_name')%></h1>
        <p><%= t('content')%></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div id="products" class="container-fluid bg-3 text-center" style="margin-top: 5%;">
  <h1 style="margin-bottom: 5%;"><%= t('title.our_product')%></h1>
  <div class="hero-image" style=" background-color: #FFFFFF;">
    <div class="row">
      <a href="/cleaning/machine" class="col-sm-4 box_product">
        <h2><%= t('.cleaning_machine')%></h2>
        <img src="https://cdn.ready-market.com/6/a404a766//Templates/pic/Cleaning-Tools.jpg?v=c6cbac7a" class="img-thumbnail" style="width: 60%; margin-top: 10%;">
      </a>
      <a href="/cleaning/liquid" class="col-sm-4 box_product">
        <h2><%= t('.cleaning_liquid')%></h2>
        <img src="https://s.isanook.com/hm/0/ud/1/8533/a.jpg" class="img-thumbnail" style="width: 80%; margin-top: 10%;">
      </a>
      <a href="/cleaning/equipment" class="col-sm-4 box_product">
        <h2><%= t('.cleaning_equipment')%></h2>
        <img src="http://www.peerapat.com/images/data/images/glass-cleaning.jpg" class="img-thumbnail" style="width: 85%; margin-top: 10%;">
      </a>
    </div>
  </div>
</div>
<div class="home container-fluid bg-3" id="contact" style="height: 600px; padding-top: 5%; background-color: #e1e1e1;">
  <div class="container">
      <div style="text-align:center;">
        <h2><%= t('title.contact')%></h2>
      </div>
      <div class="row">
        <div class="column">
          <form>
            <div class="form-group">
              <label for="formGroupExampleInput"><%= t('name')%></label>
              <input type="text" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2"><%= t('email')%></label>
              <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2"><%= t('description')%></label>
              <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>
          </form>
          <button type="submit" name="button"><%= t('submit')%></button>
        </div>
        <div class="column" style="margin-top: 8%;">
          <div class="list">
            <div class="row">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/1000px-F_icon.svg.png" style="width: auto; height: 50px;">
              <p class="contact">บริษัท-นอร์ทอีสเทิร์น-ซัพพลายส์-จำกัด</p>
            </div>
          </div>
          <div class="list">
            <div class="row">
              <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/LINE_logo.svg" style="width: auto; height: 50px;">
              <p class="contact">บริษัท-นอร์ทอีสเทิร์น-ซัพพลายส์-จำกัด</p>
            </div>
          </div>
          <div class="list">
            <div class="row">
              <img src="http://pngimg.com/uploads/email/email_PNG49.png" style="width: auto; height: 50px;">
              <p class="contact">email@mail.com</p>
            </div>
          </div>
          <div class="list">
            <div class="row">
              <img src="http://sisinterstudy.com/wp-content/uploads/2014/11/purple-phone-logo1-hi.png" style="width: auto; height: 50px;">
              <p class="contact">000000000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
