<title><%= t('title.home')%></title>
<div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true" style="background-color: #c3e4c4;">
  <ul class="uk-slideshow-items">
    <li>
      <div class="uk-child-width-1-2@s uk-grid-collapse uk-text-center" uk-grid>
        <div>
          <div class="row" style="margin-bottom: auto;margin-top: auto;">
            <div class="uk-child-width-1-1@s uk-grid-collapse uk-text-center" uk-grid>
              <div>
                <div class="uk-tile">
                  <img src="http://www.peerapat.com/images/data/images/DW%20C7-1_00000.png" style="width: 90%;">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="uk-child-width-1-2@s uk-grid-collapse uk-text-center" uk-grid>
              <div>
                <img src="https://cn.lnwfile.com/_/cn/_raw/6d/q7/05.png" alt="">
              </div>
              <div>
                <img src="https://cn.lnwfile.com/_/cn/_raw/1o/3g/pz.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: auto;margin-bottom: auto;">
          <h3 class="black-text"><%= t('org_name')%></h3>
          <h5 class="black-text uk-text-large" style="line-height: 2"><%= raw t('content')%></h5>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-child-width-1-2@s uk-grid-collapse uk-text-center" uk-grid style="background-color: #c3e4c4;">
        <div>
          <div class="row">
            <div class="uk-child-width-1-3@s uk-grid-collapse uk-text-center" uk-grid>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/PACER112-600x600.png" alt="">
              </div>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/csp15-600x600.png" alt="">
              </div>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/SOMEX_S515-600x600.png" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="uk-child-width-1-3@s uk-grid-collapse uk-text-center" uk-grid>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/GALAXY-600x600.png" alt="">
              </div>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/CSP_AERO-600x600.png" alt="">
              </div>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/COMET_KS1700-600x600.png" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="uk-child-width-1-3@s uk-grid-collapse uk-text-center" uk-grid>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/WRANGLER2016-600x600.png" alt="">
              </div>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/MUSTANG1500-600x600.png" alt="">
              </div>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/csp60-600x600.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: auto;margin-bottom: auto; line-height: 2">
          <h3 class="black-text"><%= t('org_name')%></h3>
          <h5 class="black-text uk-text-large" style="line-height: 2"><%= raw t('content')%></h5>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-child-width-1-2@s uk-grid-collapse uk-text-center" uk-grid style="background-color: #c3e4c4;">
        <div>
          <div class="row">
            <div class="uk-child-width-1-3@s uk-grid-collapse uk-text-center" uk-grid>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/Bleach_CX_25kg-600x600.png" alt="">
              </div>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/Bleach_OX_25kg-600x600.png" alt="">
              </div>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/greenwaks-600x600.png" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="uk-child-width-1-3@s uk-grid-collapse uk-text-center" uk-grid>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/Save-600x600.png" alt="">
              </div>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/Waks-600x600.png" alt="">
              </div>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/Builder_A_25kg-600x600.png" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="uk-child-width-1-3@s uk-grid-collapse uk-text-center" uk-grid>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/Waks_alk_20lit-600x600.png" alt="">
              </div>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/spaplus-600x600.png" alt="">
              </div>
              <div>
                <img src="http://www.peerapatmart.com/wp-content/uploads/2017/12/Bleach_C_23kg-600x600.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: auto;margin-bottom: auto;">
          <h3 class="black-text"><%= t('org_name')%></h3>
          <h5 class="black-text uk-text-large" style="line-height: 2"><%= raw t('content')%></h5>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-child-width-1-2@s uk-grid-collapse uk-text-center" uk-grid style="background-color: #c3e4c4;">
        <div>
          <div class="row">
            <div class="uk-child-width-1-3@s uk-grid-collapse uk-text-center" uk-grid>
              <div>
                <div class="uk-tile">
                  <img src="http://www.peerapat.com/images/data/images/ward%20steward_00000(2).png" alt="">
                </div>
              </div>
              <div>
                <div class="uk-tile">
                  <img src="http://www.peerapat.com/images/data/images/bright%20glass.png" alt="">
                </div>
              </div>
              <div>
                <div class="uk-tile">
                  <img src="http://www.peerapat.com/images/data/images/Dry%20Steward.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="uk-child-width-1-3@s uk-grid-collapse uk-text-center" uk-grid>
              <div>
                <div class="uk-tile">
                  <img src="http://www.peerapat.com/images/data/images/knock%20out%20L_00000(3).png" alt="">
                </div>
              </div>
              <div>
                <div class="uk-tile">
                  <img src="http://www.peerapat.com/images/data/images/x%20tasteward_00000(1).png" alt="">
                </div>
              </div>
              <div>
                <div class="uk-tile">
                  <img src="http://www.peerapat.com/images/data/images/rinse%20klear_00000(1).png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: auto;margin-bottom: auto;">
          <h3 class="black-text"><%= t('org_name')%></h3>
          <h5 class="black-text uk-text-large" style="line-height: 2"><%= raw t('content')%></h5>
        </div>
      </div>
    </li>
  </ul>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
</div>
<div class="uk-section uk-section-large uk-section-muted" id="product">
  <h3 class="uk-text-center uk-text-uppercase"><%= t('title.our_product')%></h3>
  <div uk-slider="center: true">
    <div class="container">
      <div class="row">
        <div class="uk-grid">
          <div class="uk-width-1-3 uk-text-center">
            <a href="<%= cleaning_landry_path %>">
              <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_754936478_fullsize.jpg" alt="" class="card-img-top" style="width: 300px; height: 300px;">
              <div class="w-100"></div>
              <div class="uk-text-bold uk-text-large" style="color: #000000;"><%= t('home.product.clean_landry')%></div>
            </a>
          </div>
          <div class="uk-width-1-3 uk-text-center">
            <a href="<%= swimming_pool_path %>">
              <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_402642040_fullsize.jpg" alt="" class="card-img-top" style="width: 300px; height: 300px;">
              <div class="w-100"></div>
              <div class="uk-text-bold uk-text-large" style="color: #000000;"><%= t('home.product.swimming_pool')%></div>
            </a>
          </div>
          <div class="uk-width-1-3 uk-text-center">
            <a href="<%= cleaning_kitchen_path %>">
              <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_647530237_fullsize.jpg" alt="" class="card-img-top" style="width: 300px; height: 300px;">
              <div class="w-100"></div>
              <div class="uk-text-bold uk-text-large" style="color: #000000;"><%= t('home.product.kitchen')%></div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="uk-grid">
          <!-- <div class="uk-width-1-3">
            <a href="<%= industry_product_path %>">
              <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_795006630_fullsize.jpg" alt="" class="card-img-top" style="width: 300px; height: 300px;">
              <div class="w-100"></div>
              <div class="uk-text-center uk-text-bold uk-text-large" style="color: #000000;"><%= t('home.product.cleaning_machine')%></div>
            </a>
          </div> -->
          <div class="uk-width-1-3 uk-text-center">
            <a href="<%= cleaning_liquid_path %>">
              <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_715746478_fullsize.jpg" alt="" class="card-img-top" style="width: 300px; height: 300px;">
              <div class="w-100"></div>
              <div class="uk-text-bold uk-text-large" style="color: #000000;"><%= t('home.product.cleaning_liquid')%></div>
            </a>
          </div>
          <div class="uk-width-1-3 uk-text-center">
            <a href="<%= cleaning_machine_path %>">
              <img src="http://thaitechno.net/uploadedimages/c1/Product_37449_676120974_fullsize.jpg" alt="" class="card-img-top" style="width: 300px; height: 300px;">
              <div class="w-100"></div>
              <div class="uk-text-bold uk-text-large" style="color: #000000;"><%= t('home.product.machine_cleaning')%></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
