<title><%= t('title.product')%></title>
  <div class="w3-container" style="text-align: center; height: 300px;">
    <div class="card" style="margin-top: 15%; width: 50%;margin-left: auto;margin-right: auto;">
      <div class="card-body" style="background-color: #000000; color: #FFFFFF;font-size: 30px;"><%= t('.our_product')%></div>
    </div>
  </div>
  <div class="container-fluid bg-3 text-center" style="padding-top: 5%;padding-bottom: 5%;background-color: #f1f1f1;">
    <div class="row">
      <div class="col-sm-4">
        <a href="/cleaning/machine" class="link">
          <h2><%= t('.cleaning_machine')%></h2>
          <img src="https://cdn.ready-market.com/6/a404a766//Templates/pic/Cleaning-Tools.jpg?v=c6cbac7a" class="img-thumbnail" style="width: 60%;">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="/cleaning/liquid" class="link">
          <h2><%= t('.cleaning_liquid')%></h2>
          <img src="https://s.isanook.com/hm/0/ud/1/8533/a.jpg" class="img-thumbnail">
        </a>
      </div>
      <div class="col-sm-4">
        <a href="/cleaning/equipment" class="link">
          <h2><%= t('.cleaning_equipment')%></h2>
          <img src="http://www.peerapat.com/images/data/images/glass-cleaning.jpg" class="img-thumbnail">
        </a>
      </div>
    </div>
  </div>
