<title><%= t('title.product')%></title>
<div class="w3-container" style="text-align: center;">
  <h4 style="margin: auto;text-align: center; margin-top: 5%;"><%= raw t('home.product.cleaning_liquid')%></h4>
  <div class="row" style="margin: auto; padding: 5% 10%;">
    <div class="col-sm-3 box" data-toggle="modal" data-target="#toilet">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_495853010_fullsize.jpg" class="img-thumbnail" style="width:70%;">
      <p style="text-align: center; font-size: 16px;padding-top: 10%;"><%= raw t('home.product.toilet')%></p>
    </div>
    <div class="col-sm-3 box" data-toggle="modal" data-target="#wax_floor">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_465402125_fullsize.jpg" class="img-thumbnail" style="width:70%;">
      <p style="text-align: center; font-size: 16px;padding-top: 10%;"><%= raw t('home.product.wax_floor')%></p>
    </div>
    <div class="col-sm-3 box" data-toggle="modal" data-target="#cleaning_floor">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_294025393_fullsize.jpg" class="img-thumbnail" style="width:70%;">
      <p style="text-align: center; font-size: 16px;padding-top: 10%;"><%= raw t('home.product.cleaning_floor')%></p>
    </div>
    <div class="col-sm-3 box" data-toggle="modal" data-target="#cleaning_glass">
      <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223170542_b.jpg" class="img-thumbnail" style="width:70%;">
      <p style="text-align: center; font-size: 16px;padding-top: 10%;"><%= raw t('home.product.cleaning_glass')%></p>
    </div>
  </div>
  <div class="row" style="margin: auto; padding: 0% 10% 7%;">
    <div class="col-sm-3 box" data-toggle="modal" data-target="#cleaning_furniture">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_935760826_fullsize.jpg" class="img-thumbnail" style="width:70%;">
      <p style="text-align: center; font-size: 16px;padding-top: 10%;"><%= raw t('home.product.cleaning_furniture')%></p>
    </div>
    <div class="col-sm-3 box" data-toggle="modal" data-target="#hand_wash">
      <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223170917_b.jpg" class="img-thumbnail" style="width:70%;">
      <p style="text-align: center; font-size: 16px;padding-top: 10%;"><%= raw t('home.product.hand_wash')%></p>
    </div>
    <div class="col-sm-3 box" data-toggle="modal" data-target="#carpet">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_816761490_fullsize.jpg" class="img-thumbnail" style="width:70%;">
      <p style="text-align: center; font-size: 16px;padding-top: 10%;"><%= raw t('home.product.cleaning_carpet')%></p>
    </div>
  </div>
</div>
<div class="modal fade" id="toilet">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h4 class="modal-title"><%= raw t('home.product.toilet')%></h4><br>
        <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_495853010_fullsize.jpg" class="img-thumbnail" style="width:70%;"><br>
        <p style="margin-top: 5%;"><%= t('home.clean.n_rust')%></p>
      </div>
      <div class="modal-footer">
        <div class="container" style="text-align: center;"><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#demo"><%= t('button.contact')%></button><br>
          <div id="demo" class="collapse" style="margin-left: 15%;">
            <%= render 'shared/contact'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="wax_floor">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h4 class="modal-title"><%= raw t('home.product.wax_floor')%></h4><br>
        <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_465402125_fullsize.jpg" class="img-thumbnail" style="width:70%;"><br>
        <p style="margin-top: 5%;"><%= t('home.clean.buff_shine')%></p>
      </div>
      <div class="modal-footer">
        <div class="container" style="text-align: center;"><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#contact"><%= t('button.contact')%></button><br>
          <div id="contact" class="collapse" style="margin-left: 15%;">
            <%= render 'shared/contact'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="carpet">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h4 class="modal-title"><%= raw t('home.product.cleaning_carpet')%></h4><br>
        <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_816761490_fullsize.jpg" class="img-thumbnail" style="width:70%;"><br>
        <p style="margin-top: 5%;"><%= t('home.clean.foamer')%></p>
      </div>
      <div class="modal-footer">
        <div class="container" style="text-align: center;"><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#foamer"><%= t('button.contact')%></button><br>
          <div id="foamer" class="collapse" style="margin-left: 15%;">
            <%= render 'shared/contact'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="cleaning_floor">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h4 class="modal-title"><%= raw t('home.product.cleaning_floor')%></h4><br>
        <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_294025393_fullsize.jpg" class="img-thumbnail" style="width:70%;"><br>
        <p style="margin-top: 5%;"><%= t('home.clean.shock_wave')%></p>
      </div>
      <div class="modal-footer">
        <div class="container" style="text-align: center;"><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#floor"><%= t('button.contact')%></button><br>
          <div id="floor" class="collapse" style="margin-left: 15%;">
            <%= render 'shared/contact'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="cleaning_glass">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h4 class="modal-title"><%= raw t('home.product.cleaning_floor')%></h4><br>
        <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223170542_b.jpg" class="img-thumbnail" style="width:70%;"><br>
        <p style="margin-top: 5%;"><%= t('home.clean.shock_wave')%></p>
      </div>
      <div class="modal-footer">
        <div class="container" style="text-align: center;"><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#glass"><%= t('button.contact')%></button><br>
          <div id="glass" class="collapse" style="margin-left: 15%;">
            <%= render 'shared/contact'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="cleaning_furniture">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h4 class="modal-title"><%= raw t('home.product.cleaning_furniture')%></h4><br>
        <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_935760826_fullsize.jpg" class="img-thumbnail" style="width:70%;"><br>
        <p style="margin-top: 5%;"><%= t('home.clean.pick_up')%></p>
      </div>
      <div class="modal-footer">
        <div class="container" style="text-align: center;"><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#furniture"><%= t('button.contact')%></button><br>
          <div id="furniture" class="collapse" style="margin-left: 15%;">
            <%= render 'shared/contact'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="hand_wash">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h4 class="modal-title"><%= raw t('home.product.hand_wash')%></h4><br>
        <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223170917_b.jpg" class="img-thumbnail" style="width:70%;"><br>
        <p style="margin-top: 5%;"><%= t('home.clean.pick_up')%></p>
      </div>
      <div class="modal-footer">
        <div class="container" style="text-align: center;"><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#hand"><%= t('button.contact')%></button><br>
          <div id="hand" class="collapse" style="margin-left: 15%;">
            <%= render 'shared/contact'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
