<title><%= t('title.product')%></title>
<div class="w3-container">
  <h5 style="margin: auto;text-align: center; margin-top: 5%;"><%= t('home.product.cleaning_liquid')%></h5>
  <div class="row" style="margin: auto; padding: 5% 10%;">
    <div class="col-sm-4">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_495853010_fullsize.jpg" class="img-thumbnail" style="width:100%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= t('home.product.toilet')%></p>
    </div>
    <div class="col-sm-4">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_465402125_fullsize.jpg" class="img-thumbnail" style="width:100%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= t('home.product.wax_floor')%></p>
    </div>
    <div class="col-sm-4">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_653272813_fullsize.jpg" class="img-thumbnail" style="width:100%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= t('home.product.cleaning_floor')%></p>
    </div>
  </div>
  <div class="row" style="margin: auto; padding: 0% 10%;">
    <div class="col-sm-4">
      <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223170542_b.jpg" class="img-thumbnail" style="width:100%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= t('home.product.cleaning_glass')%></p>
    </div>
    <div class="col-sm-4">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_935760826_fullsize.jpg" class="img-thumbnail" style="width:100%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= t('home.product.cleaning_furniture')%></p>
    </div>
    <div class="col-sm-4">
      <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223170917_b.jpg" class="img-thumbnail" style="width:100%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= t('home.product.hand_wash')%></p>
    </div>
  </div>
  <div class="row" style="margin: auto; padding: 0% 10%;">
    <div class="col-sm-4">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_816761490_fullsize.jpg" class="img-thumbnail" style="width:100%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= t('home.product.cleaning_carpet')%></p>
    </div>
    <div class="col-sm-4">
      <img src="https://th-live-03.slatic.net/p/3/bellinzoni-1-1485316022-68053111-0db57429d462121ca538885cd58b0e1e-product.jpg" class="img-thumbnail" style="width:100%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= t('home.product.cleaning_mable')%></p>
    </div>
  </div>
</div>
