<title><%= t('title.product')%></title>
<div class="w3-container" style="text-align: center;">
  <h4 style="margin: auto;text-align: center; margin-top: 5%;"><%= t('home.product.cleaning_machine')%></h4>
  <div class="row" style="margin: auto; padding: 3% 10%;">
    <div class="col-sm-4 box" data-toggle="modal" data-target="#cleaning_machine">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_197579320_fullsize.jpg" class="img-thumbnail" style="width:70%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= raw t('home.product.floor_scrub')%></p>
    </div>
    <div class="col-sm-4 box" data-toggle="modal" data-target="#vaccum_cleaning">
      <img src="https://images.jmcatalog.com/prdimgs/SPEC33Tr1l8/NSS/450/NSS9600121.JPG" class="img-thumbnail" style="width:70%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= raw t('home.product.vaccum_cleaning')%></p>
    </div>
    <div class="col-sm-4 box" data-toggle="modal" data-target="#ozone">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_62121280_fullsize.jpg" class="img-thumbnail" style="width:70%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= raw t('home.product.ozone')%></p>
    </div>
  </div>
  <div class="row" style="margin: auto;  padding: 0% 10% 5%;">
    <div class="col-sm-4 box" data-toggle="modal" data-target="#wet_vacuum">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_59526951_fullsize.jpg" class="img-thumbnail" style="width:70%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= raw t('home.product.wet_vacuum')%></p>
    </div>
    <div class="col-sm-4 box" data-toggle="modal" data-target="#carpet_blower">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_21181123_fullsize.jpg" class="img-thumbnail" style="width:70%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= raw t('home.product.carpet_blower')%></p>
    </div>
  </div>
</div>
<div class="modal fade" id="cleaning_machine">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h4 class="modal-title"><%= raw t('home.product.floor_scrub')%></h4><br>
        <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_197579320_fullsize.jpg" class="img-thumbnail" style="width:70%;"><br>
        <div class="container" style="margin-top: 2%; height: 300px;">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#details1"><%= t('title.details')%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#contact1"><%= t('button.contact')%></a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="details1" class="container tab-pane active"><br>
              <p style="text-align: left; font-size: 13px;"><%= raw t('home.machine.floor')%></p>
            </div>
            <div id="contact1" class="container tab-pane fade" style="margin-left: 10%;"><br>
              <%= render 'shared/contact'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="vaccum_cleaning">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h4 class="modal-title"><%= raw t('home.product.vaccum_cleaning')%></h4><br>
        <img src="https://images.jmcatalog.com/prdimgs/SPEC33Tr1l8/NSS/450/NSS9600121.JPG" class="img-thumbnail" style="width:70%;"><br>
        <div class="container" style="text-align: center; margin-top: 2%; height: 270px;">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#details"><%= t('title.details')%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#contact"><%= t('button.contact')%></a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="details" class="container tab-pane active"><br>
              <p><%= raw t('home.machine.vacuum')%></p>
            </div>
            <div id="contact" class="container tab-pane fade" style="margin-left: 10%;"><br>
              <%= render 'shared/contact'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="carpet_blower">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h4 class="modal-title"><%= raw t('home.product.carpet_blower')%></h4><br>
        <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_21181123_fullsize.jpg" class="img-thumbnail" class="img-thumbnail" style="width:70%;"><br>
        <div class="container" style="text-align: center; margin-top: 2%; height: 270px;">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#details2"><%= t('title.details')%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#contact2"><%= t('button.contact')%></a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="details2" class="container tab-pane active"><br>
              <p><%= raw t('home.machine.carpet_blower')%></p>
            </div>
            <div id="contact2" class="container tab-pane fade" style="margin-left: 10%;"><br>
              <%= render 'shared/contact'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ozone">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h4 class="modal-title"><%= raw t('home.product.ozone')%></h4><br>
        <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_62121280_fullsize.jpg" class="img-thumbnail" style="width:70%;"><br>
        <div class="container" style="text-align: left; margin-top: 2%; height: 270px;">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#details3"><%= t('title.details')%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#contact3"><%= t('button.contact')%></a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="details3" class="container tab-pane active"><br>
              <p><%= raw t('home.machine.ozone')%></p>
            </div>
            <div id="contact3" class="container tab-pane fade" style="margin-left: 10%;"><br>
              <%= render 'shared/contact'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="wet_vacuum">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h4 class="modal-title"><%= raw t('home.product.wet_vacuum')%></h4><br>
        <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_59526951_fullsize.jpg" class="img-thumbnail" style="width:70%;"><br>
        <div class="container" style="text-align: left; margin-top: 2%; height: 270px;">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#details4"><%= t('title.details')%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#contact4"><%= t('button.contact')%></a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="details4" class="container tab-pane active"><br>
              <p><%= raw t('home.machine.wet_vacuum')%></p>
            </div>
            <div id="contact4" class="container tab-pane fade" style="margin-left: 10%;"><br>
              <%= render 'shared/contact'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
