<title><%= t('title.product')%></title>
<div class="w3-container" style="height: -webkit-fill-available;">
  <h5 style="margin: auto;text-align: center; margin-top: 5%;"><%= t('home.product.cleaning_machine')%></h5>
  <div class="row" style="margin: auto; padding: 5% 10%;">
    <div class="col-sm-4">
      <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_197579320_fullsize.jpg" class="img-thumbnail" style="width:100%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= t('home.product.floor_scrub')%></p>
    </div>
    <div class="col-sm-4">
      <img src="https://images.jmcatalog.com/prdimgs/SPEC33Tr1l8/NSS/450/NSS9600121.JPG" class="img-thumbnail" style="width:100%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= t('home.product.vaccum_cleaning')%></p>
    </div>
    <div class="col-sm-4">
      <img src="https://f.ptcdn.info/882/047/000/oi3sx73146TRoHCfzpt-o.jpg" class="img-thumbnail" style="width:100%;">
      <p style="text-align: center; font-size: 20px;padding-top: 10%;"><%= t('home.product.cleaning_spare')%></p>
    </div>
  </div>
</div>
