<title><%= t('title.product')%></title>
<%= render "shared/tab" %>
<h4 style="margin: auto;text-align: center; margin-top: 5%; margin-bottom: 5%;"><%= raw t('home.product.cleaning_liquid')%></h4>
<div class="container uk-margin-large-bottom" style="margin-left: auto; margin-right: auto;">
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #green">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_495853010_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.toilet')%></h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #breachcx">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_465402125_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.wax_floor')%></h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #breachox">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_294025393_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.cleaning_floor')%></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #save">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223170542_b.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.cleaning_glass')%></h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #WAKS">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_935760826_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.cleaning_furniture')%></h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #BUILDERA">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223170917_b.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.hand_wash')%></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #BLEACHC">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_816761490_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.cleaning_carpet')%></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="green" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title"><%= raw t('home.product.toilet')%></h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_495853010_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                ผลิตภัณฑ์ทำความสะอาดเครื่องสุขภัณฑ์ มีคุณสมบัติกำจัดคราบสนิมได้ดีเหมาะสำหรับทำความสะอาดห้องน้
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
               - เป็นของเหลวสีม่วงเข้ม <br> - สารละลาย 1% มีค่าความเป็นกรด-ด่างเท่ากับ 1.00-4.00 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนักสุทธิ 20 ลิตร ต่อ ถัง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="breachcx" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title"><%= raw t('home.product.wax_floor')%></h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_465402125_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                ผลิตภัณฑ์ปั่นเงาพื้นชนิดเข้มข้น ใช้ได้กับพื้นที่เคลือบแว็กซ์ทั่วไป ช่วยบำรุงรักษาพื้น ใช้กับงานทำความสะอาดและซ่อมพื้นที่ที่ใช้ผลิตภัณฑ์เคลือบเงาได้อย่างรวดเร็ว
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
               - เป็นของเหลวขุ่น <br>
               - มีค่าความเป็นกรด-ด่างเท่ากับ 8.0-9.0 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนักสุทธิ 5000 มิลลิลิตร / 1 แกลลอน
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="breachox" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title"><%= raw t('home.product.wax_floor')%></h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_294025393_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                ผลิตภัณฑ์ทำความสะอาดพื้น และทำความสะอาดห้องน้ำ ช่วยดับกลิ่นที่ไม่พึงประสงค์ มีประสิทธิภาพในการทำความสะอาดสูง ไม่กัดกร่อนโลหะ ปลอดภัยต่อผู้ใช้ เหมาะกับการใช้งานในโรงแรม โรงพยาบาล ภัตตาคาร โรงงาน
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
               - เป็นของเหลวสีน้ำเงิน <br>
               - มีค่าความเป็นกรด-ด่างเท่ากับ 9.0-10.0 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนักสุทธิ 5000 มิลลิลิตร / 1 แกลลอน
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
