<title><%= t('title.product')%></title>
<%= render "shared/tab" %>
<h4 style="margin: auto;text-align: center; margin-top: 5%; margin-bottom: 5%;"><%= raw t('home.product.cleaning_liquid')%></h4>
<div class="container uk-margin-large-bottom" style="margin-left: auto; margin-right: auto;">
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #green">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_495853010_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.toilet')%></h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #breachcx">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_465402125_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.wax_floor')%></h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #breachox">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_294025393_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.cleaning_floor')%></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #save">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223170542_b.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.cleaning_glass')%></h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #WAKS">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_935760826_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.cleaning_furniture')%></h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #BUILDERA">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223170917_b.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.hand_wash')%></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #BLEACHC">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_816761490_fullsize.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center"><%= raw t('home.product.cleaning_carpet')%></h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #HIFER">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223143924_b.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">ไฮ-เฟอร์ <br>ผลิตภัณฑ์เคลือบเงาเฟอร์นิเจอร์ </h3>
          </div>
        </div>
      </div>
      <div uk-toggle="target: #PINK">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223173029_b.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">พิงค์200 <br>ผลิตภัณฑ์สบู่เหลวล้างมือ </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-child-width-1-3@m" uk-grid>
      <div uk-toggle="target: #SC">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223145142_b.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-center">SC Sev and Clean <br>ผลิตภัณฑ์ทำความสะอาดฆ่าเชื้อ </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="green" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title"><%= raw t('home.product.toilet')%></h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_495853010_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                ผลิตภัณฑ์ทำความสะอาดเครื่องสุขภัณฑ์ มีคุณสมบัติกำจัดคราบสนิมได้ดีเหมาะสำหรับทำความสะอาดห้องน้
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
               - เป็นของเหลวสีม่วงเข้ม <br> - สารละลาย 1% มีค่าความเป็นกรด-ด่างเท่ากับ 1.00-4.00 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนักสุทธิ 20 ลิตร ต่อ ถัง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="breachcx" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title"><%= raw t('home.product.wax_floor')%></h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_465402125_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                ผลิตภัณฑ์ปั่นเงาพื้นชนิดเข้มข้น ใช้ได้กับพื้นที่เคลือบแว็กซ์ทั่วไป ช่วยบำรุงรักษาพื้น ใช้กับงานทำความสะอาดและซ่อมพื้นที่ที่ใช้ผลิตภัณฑ์เคลือบเงาได้อย่างรวดเร็ว
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
               - เป็นของเหลวขุ่น <br>
               - มีค่าความเป็นกรด-ด่างเท่ากับ 8.0-9.0 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนักสุทธิ 5000 มิลลิลิตร / 1 แกลลอน
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="breachox" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title"><%= raw t('home.product.cleaning_floor')%></h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_294025393_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                ผลิตภัณฑ์ทำความสะอาดพื้น และทำความสะอาดห้องน้ำ ช่วยดับกลิ่นที่ไม่พึงประสงค์ มีประสิทธิภาพในการทำความสะอาดสูง ไม่กัดกร่อนโลหะ ปลอดภัยต่อผู้ใช้ เหมาะกับการใช้งานในโรงแรม โรงพยาบาล ภัตตาคาร โรงงาน
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
               - เป็นของเหลวสีน้ำเงิน <br>
               - มีค่าความเป็นกรด-ด่างเท่ากับ 9.0-10.0 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้ำหนักสุทธิ 5000 มิลลิลิตร / 1 แกลลอน
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="save" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title"><%= raw t('home.product.cleaning_glass')%></h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223170542_b.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                วิน คลีน ผลิตภัณฑ์เช็ดทำความสะอาดกระจกในบ้าน หรือสำนักงานทั่ว ๆ ไป ช่วยให้กระจกใสแวววาว
                มีเคมีป้องกันการเกิดฝ้าและรอยหมองที่เกิดขึ้นบนกระจก ใช้ง่ายและประหยัดเวลา เมื่อแห้งจะไม่เกิดรอยใด ๆ
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
               เป็นของเหลวสีฟ้าใส มีค่าความเป็นกรด-ด่างเท่ากับ 9.0-10.0 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้น้ำหนักสุทธิ 5000 มิลลิลิตร / 1 แกลลอน <br>
                - ขนาดบรรจุ 4 แกลลอน / กล่อง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="WAKS" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title"><%= raw t('home.product.cleaning_furniture')%></h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_935760826_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                Pick Up ปิค อัพ ใช้เก็บฝุ่นละอองบนพื้นไม้ พื้นกระเบื้องยาง และพื้นหินชนิดต่าง ๆ มีส่วนผสมของน้ำมัน และตัวทำละลายซึ่งจะทำให้ผ้าหรือม็อบถูพื้นดูดซับฝุ่นละอองได้อย่างรวดเร็ว
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
               เป็นของเหลวใส มีค่าความเป็นกรด-ด่างเท่ากับ 6.0-8.0 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้น้ำหนักสุทธิ 5000 มิลลิลิตร / 1 แกลลอน <br>
                - ขนาดบรรจุ 4 แกลลอน / กล่อง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="BUILDERA" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title"><%= raw t('home.product.hand_wash')%></h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223170917_b.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                ลักกี้ บลู สบู่เหลวใช้สำหรับล้างทำความสะอาดมือ ชำระล้างสิ่งสกปรก และคราบไขมันออกจากผิวหนังได้หมดจด สดชื่นล้างออกง่าย ปลอดภัยทุกสภาพผิว
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นของเหลวสีฟ้าใสเป็นเนื้อเดียวกัน ไม่แยกชั้น <br>
                - มีค่าความเป็นกรด-ด่างเท่ากับ 6.0 -8.0 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้น้ำหนักสุทธิ 5000 มิลลิลิตร / 1 แกลลอน <br>
                - ขนาดบรรจุ 4 แกลลอน / กล่อง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="BLEACHC" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title"><%= raw t('home.product.cleaning_carpet')%></h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://www.thaitechno.net/uploadedimages/c1/Product_37449_816761490_fullsize.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                โฟมเมอร์ ผลิตภัณฑ์ซักพรมที่สามารถขจัดสิ่งสกปรกบนพรมออกให้หมด และมีสารเคลือบพรม ซึ่งกันสิ่งสกปรกกลับมาติดใหม่ ทำให้พรมมีสีสันสดใส สะดวกต่อการดูแลรักษา
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นของเหลว สีชมพู <br>
                - มีค่าความเป็นกรด-ด่างเท่ากับ 8.0-9.0 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้น้ำหนักสุทธิ 5000 มิลลิลิตร / 1 แกลลอน <br>
                - ขนาดบรรจุ 4 แกลลอน / กล่อง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="HIFER" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">ไฮ-เฟอร์ <br>ผลิตภัณฑ์เคลือบเงาเฟอร์นิเจอร์ </h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223143924_b.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                ไฮ-เฟอร์ ผลิตภัณฑ์เคลือบเงาหนัง เช่น หนังแท้ หนังเทียม ไวนิล พลาสติก
                และเฟอร์นิเจอร์ไม้ ให้ดูสวยงามเหมือนใหม่อยู่เสมอ ยืดอายุการใช้งานให้ยาวนานมากขึ้น
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นของเหลว สีขาวขุ่น <br>
                - มีค่าความเป็นกรด-ด่างเท่ากับ 6.0-8.0 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้น้ำหนักสุทธิ 3800 มิลลิลิตร / 1 แกลลอน <br>
                - ขนาดบรรจุ 4 แกลลอน / กล่อง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="PINK" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">พิงค์200 <br>ผลิตภัณฑ์สบู่เหลวล้างมือ</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223173029_b.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                พิ้งค200์ สบู่เหลวเข้มข้นสูตรพิเศษสีชมพูเนื้อมุก ใช้สำหรับล้างทำความสะอาด ชำระล้างสิ่งสกปรก
                และคราบไขมันออกจากผิวหนังได้หมดจด กลิ่นหอม สดชื่น ล้างออกง่าย ปลอดภัยกับทุกสภาพผิว
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นของเหลวสีชมพู <br>
                - มีค่าความเป็นกรด-ด่างเท่ากับ 6.0-8.0 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้น้ำหนักสุทธิ 5000 มิลลิลิตร / 1 แกลลอน <br>
                - ขนาดบรรจุ 4 แกลลอน / กล่อง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<div id="SC" uk-modal>
  <div class="uk-modal-dialog" style="width: 70%;">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">SC Sev and Clean <br>ผลิตภัณฑ์ทำความสะอาดฆ่าเชื้อ</h2>
    </div>
    <div class="uk-modal-body">
      <div class="row">
        <div class="uk-column-1-2">
          <div class=" uk-text-center">
            <img src="http://img.tarad.com/shop/p/peerapat/img-lib/spd_20161223145142_b.jpg" alt="">
          </div>
          <ul uk-accordion>
            <li class="uk-open">
              <a class="uk-accordion-title uk-text-large" href="#" style="height: 50px;"><span class="uk-text-middle">รายละเอียด</span></a>
              <div class="uk-accordion-content uk-text-large">
                เซฟ แอนด์ คลีน ผลิตภัณฑ์ ทำความสะอาดและฆ่าเชื้อ สำหรับสุขภัณฑ์มีกลิ่นหอม ช่วยดับกลิ่นที่ไม่พึงประสงค์
                มีประสิทธิภาพในการทำความสะอาดสูง พร้อมทั้ง ฆ่าเชื้อ โรค เหมาะกับการใช้งานในโรงแรม โรงพยาบาล ภัตตาคาร โรงงาน
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">คุณสมบัติ</a>
              <div class="uk-accordion-content uk-text-large">
                - เป็นของเหลวสีเขียวใส <br>
                - มีค่าความเป็นกรด-ด่างเท่ากับ 10.0 - 11.0 ที่อุณหภูมิ 25 องศาเซลเซียส
              </div>
            </li>
            <li>
              <a class="uk-accordion-title uk-text-large" href="#">ขนาด</a>
              <div class="uk-accordion-content uk-text-large">
                - น้น้ำหนักสุทธิ 5000 มิลลิลิตร / 1 แกลลอน <br>
                - ขนาดบรรจุ 4 แกลลอน / กล่อง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
